

@* @{
    Layout="_Layout";
} *@


<div class="row">
    <div class="col-md-3">
        @* kategoriler gelecek *@
        @* Şimdi burada oluşturduğumuz viewcomponents ekliyelim. *@
        @* @await Html.PartialAsync("_categories",categories) *@
        @* Burada ki "Categories" shared altındaki categories klasörünü temsil ediyor. *@
        @await Component.InvokeAsync("Categories")

    </div>
    <div class="col-md-9">
            about
    </div>
</div>        
